<form class="pure-form pure-form-stacked" method="post" action="login.php">
    <fieldset>
        <legend>WebShop Login</legend>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>

        <p>
            <a href="{{ path_for('register')}}">  Sign up here</a>
        </p>
    </fieldset>
</form>
