<!-- Footer -->
<footer class="page-footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> Made with love <span>♥</span> for this
        <a href="https://github.com/aludwig8/hackathon_team1" title="Hackathon Team One">Hackathon</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->