
<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/laptop.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Asus i3 - 4GB RAM</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">460</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/laptop1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Lenovo Gaming Machine!</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">780</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/laptop2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">HP Business Laptop</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">960</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
            </div><!--.row-->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/laptop3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Flexible HP Laptop</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">1560</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/laptop4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">TABLET Laptop</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">560</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.container-fluid-->
</section>