
<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/bildschirm1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">22inch HD</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">150</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/bildschirm1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">24inch 60HZ screen!</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">220</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/bildschirm3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">HP Screen</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">59</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
            </div><!--.row-->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/../img/bildschirm4.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Asus Gaming Screen</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-right"><button type="button" class="btn btn-success">Add to Cart</button></div>
                            <div class="float-left">
                                <a href="#" class="text-danger">500</a>
                            </div>
                        </div>
                    </div>
                </div><!--.col-->
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.container-fluid-->
</section>